.DS_Store
Thumbs.db

data/raw_images/*
data/raw_images_for_factors/*
!data/raw_images/.gitkeep
data/~$daily_measurements.xlsx
data/~$mass_difference.xlsx

.Rhistory
.RData
.Ruserdata
.Rproj.user/

.venv